<h2>{{errData}}</h2>
<div>
    <div class="text-left">
        <h1>{{mailBody.subject}} </h1>
        <div>
            <h2>{{mailBody.from}}
                <span class="ml-1"style="font-size: 15px; font-weight: 390;">
                    <span><</span>
                            <a>{{mailBody.email}}</a>
                    <span>></span>
                </span>
            </h2>

        </div>
        <div>
            <p>
                {{mailBody.mailBody}}
            </p>
        </div>


    </div>
</div>